nav{
    background-color: #32a864;
}

.container{
    padding:0px;
}
.row{
    padding: 0px;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 0px;
}

.switch>label{
    color:black;
    font-weight: bold;
    font-size: 0.9em;
}

.collapsible{
    padding: 0px;
}
.collapsible_header {
    margin-top: 5px;
}

.index-icons, .pun-title{
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.btn_small {
    height: 24px;
    width: 70px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.more{
    float: right;
}

.brand-logo{
    margin-left: 5px;
    margin-right: 5px;
}

.format-helper{
    padding:0;
}

.is-animated {
  animation: .6s zoom-in;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  } 
  100% {
    transform: none;
  }
}