{% extends 'base.html' %}
{% block content %}

<div class="row">
<div class="row col-sm-12 col-md-4 col-lg-4">
	<div class="col s12 m6">
		<div class="card white darken-1">
			<div class="card-content">
				<span class="card-title">Welcome</span>
				<p>to Suburban Dictionary<br>
           a simple website that lists user-submitted puns and play on words.<br>
           Why not add to the fun and submit your own pun here?</p>
			</div>
			<div class="card-action">
				<a class="edit waves-effect waves-light btn btn_small green" href="{{url_for('add_pun')}}">Submit</a>
			</div>
		</div>
		<div class="row">
            <div id="adjectives-slider" class="switch col-xs-6 col-sm-6 col-md-12 col-lg-12">
			    <label>  
                <input type="checkbox">
                <span class="lever"></span>
                    Adjectives
                </label>
            </div>
            <div id="adverbs-slider" class="switch col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <label>
                <input type="checkbox">
                <span class="lever"></span>
                    Adverbs
                </label>
            </div>
            <div id="nouns-slider" class="switch col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <label>  
                <input type="checkbox">
                <span class="lever"></span>
                    Nouns
                </label>
            </div>
            <div id="verbs-slider" class="switch col-xs-6 col-sm-6 col-md-12 col-lg-12">
                <label> 
                <input type="checkbox">
                <span class="lever"></span>
                    Verbs
                </label>
            </div>
        </div>
	</div>
</div>

<ul class="collapsible col-sm-12 col-md-8 col-lg-8">
	{% for pun in puns %}
	<li>
		<div class="collapsible-header">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 format-helper">
				<i class="material-icons index-icons">expand_more</i>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8 format-helper">
				<b class="pun-title">{{pun.expression}}</b>
			</div>
			<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3 format-helper">
				<a class="edit waves-effect waves-light btn btn_small blue"
					href="{{url_for('edit_pun', pun_id=pun._id)}}">Edit</a>
				<a class="edit waves-effect waves-light btn btn_small red"
					href="{{url_for('delete_pun', pun_id=pun._id)}}">Delete</a>
			</div>
		</div>
		<div class="collapsible-body">
			<span>
               <p> {{pun.definition}} </p>
               <p>Example Useage: "{{pun.example}}." </p>
               <a class="more" href="{{url_for('profile', pun_id=pun._id)}}">more..</a>
            </span>
		</div>
	</li>
	{% endfor %}
</ul>
</div>
{% endblock %}